<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <title>Todo List</title>
   </head>
   <body>
      <!-- istanza vue -->
      <div id="app">
         <!-- title -->
         <h1><i class="fas fa-clipboard-list"></i>Todo List</h1>

         <!-- input -->
         <div class="container-input">
            <input v-model="newItem" v-on:keyup.13="addItem" type="text" placeholder="Nuovo Todo">
            <button v-on:click="addItem">Aggiungi</button>
         </div>

         <!-- lista cose da fare -->
         <div class="container-list">
            <ul class="elements-container">

               <li v-for="(item, index) in items" class="element">
                  <!-- what to do -->
                  <span>{{ item }}</span>
                  <!-- x -->
                  <i @click="removeItem(index)" class="fas fa-times"></i>
               </li>

            </ul>
         </div>
      </div>
      <!-- fine istanza vue -->

      <!-- link js -->
      <script type="text/javascript" src="js/script.js"></script>
   </body>
</html>
